* {
    box-sizing: border-box;
    font-size: 16px;
    margin: auto;
}
#fondDEcran {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
object-fit: cover;
}


/* tablette */
@media screen and (max-width: 768px) {

}

/* smartphone */
@media screen and (max-width: 576px) {

    #resultat {
        display: block;
        align-items: center;
    }
    
}