* {
    box-sizing: border-box;
    font-size: 16px;
}
header {
    text-decoration: underline;
    background-color: yellow;
    padding: 20px;
}
#fond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
} 
.button #ajouter {
    background-color: blue;
    padding: 20px;
}
table {
    background-color: yellow;
    text-align: center; 
    display: block;
    justify-items: center;
    width: 100%;
    margin: auto;
}
table thead th {
    border-collapse: collapse;
    border: 1px solid black;
    border-left: 1px solid black;
}
table tr td {
    border-collapse: collapse;
    border-left: 1px solid black;
    border: 1px solid black;
}

#filtre {
    background-color: yellow;
}