* {
    box-sizing: border-box;
    font-size: 16px;
    margin: auto;
}
header {
    text-decoration: underline;
    background-color: white;
    padding: 20px;
}
#fond {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
object-fit: cover;
} 
button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
}

table {
    background-color: white;
    text-align: center; 
    display: inline-flexbox;
    width: 80%;
    margin: auto;
}

table thead th {
    background-color: black;
    color: white;
    border-collapse: collapse;
    border: 1px solid black;
    border-left: 1px solid black;
}
table tr td {
    border-collapse: collapse;
    border-left: 1px solid black;
    border: 1px solid black;
}

#filtre {
    background-color: white;
}
html a {
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: end;
}